<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="javascript:history.back()">Back</a></li>
            <li><strong>{{ category }}</strong></li>
        </ul>
    </nav>
    <div class="container">
        <div class="intro">
            <h1>Welcome to Keith's collections of recipes</h1>
            <p>I'm trying to organize some of my recipes and you'll soon have access to all of them!</p>
        </div>
        <div class="search-container">
            <form action="/recipes/search/" method="post">
                {% csrf_token %}
                {{ form.search_term }}
                <input type="image" src="{% static '/icons/search-solid.svg' %}" value="Submit">
            </form>
        </div>
        <section>
            {% if recipe_list %}
            <article class="category-container">
                <h2>{{ category }}</h2>
                <ul>
                    {% for recipe in recipe_list %}
                        <li><a href="/recipes/{{ recipe.id }}"><img src="{% static recipe.img_url %}" alt="" /><br/>{{ recipe.name }}</a></li>
                    {% endfor %}
                </ul>
            </article>
            {% else %}
                <p>No recipes available.</p>
            {% endif %}
        </section>
    </div>
    
</body>
</html>